.idea/
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
target/

*.iml
.DS_Store
mvnw
mvnw.cmd
.mvn

*.aux
*.fls
*.synctex.gz
*.log
*.fdb_latexmk
*.toc

*:Zone.identifier